/* XahLee.org  */
body{font-family:sans-serif}
h1,h2,h3,h4,h5,h6{font-family:serif}
h3{color:#b03051}
p{line-height:140%;width:70ex}
li{margin-top:.8ex}
blockquote{color:#00007b}
img{margin-bottom:1px;margin-right:1px}
hr{clear:both}
hr.br{clear:both;visibility:hidden}

div.nav{padding:.5ex;clear:both;font-family:Times New Roman,serif;font-size:larger}
div.nav:before{content:"∑ ";font-family:serif;font-size:3ex;color:#b22222}
div.date{background-color:#e8e8e8;border-top:solid thin gray;width:20ex;margin-top:1ex}

div.ftr{background-color:#fff8dc;text-align:center;clear:both}
div.ftr div{display:inline;margin:1ex}
div.ftr div.x50{background:url(ics/webfeed.png) no-repeat left bottom;padding-left:34px;padding-top:34px}
div.ftr div.x60 form{display:inline}
div.ftr div.x60 img{border:none}
div.sig{}
div.sig:before{content:"∑ ";font-family:Times New Roman,serif;font-size:4em;color:#b22222}
div.dstp, div.cpr{display:inline;font-size:small}
div.dstp:before{content:"Page created: "}

div.rltd{display:table;background-color:#f0f0f0;padding:.5ex;margin:0;margin-top:2ex;line-height:100%}
div.rltd:before{content:"Related: "}
div.filler{padding-bottom:24cm;border-left:black dashed}
div.filler:before{content:"↓↓↓↓"}
div.pages{padding:1ex;margin-left:4ex;margin-right:4ex;text-align:center;line-height:150%}
div.pages > a{border:solid thin #8fbc8f;padding:.5ex}
div.pages > a:hover{background-color:#8fbc8f}

caption{margin-top:2ex}
table.nrm{border:solid 1px black;border-collapse:collapse;margin:.5ex}
table.nrm th, table.nrm td{border:solid 1px gray;padding:.5ex}

div.donate253586027{margin-left:auto;margin-right:auto;text-align:center}
ppp8745{}

div.ad-tpbn{} /* ad, top image banner */
div.ad {text-align:center} /*text link ad*/
div.ad-txtctr {text-align:center;display:table-cell;padding:.5ex;border-top:solid thin green;border-left:solid thin green;width:25ex} /*text link ad, center*/
div.ad-tla{} /*tla ads*/
div.ad-bl{}  /*beelisp*/
div.ad1n1{}  /*1n1*/
div.ad img, div.ad1n1 img{border:none}
div.ad, div.ad-tla, div.ad-bl, div.ad1n1 {display:table-cell;padding:.5ex;border-top:solid thin green;border-left:solid thin green;float:right;width:25ex}

div.ad:before, div.ad-tla:before, div.ad-bl:before, div.ad-txtctr:before{font-size:smaller;content:"ad. "}


div.youradhere{width:300px;height:100px;border:solid thin red;font-size:x-large;font-family:serif;text-align:center;clear:both}

div#wsr{margin-left:auto;margin-right:auto;text-align:center;clear:both}

li.item{list-style-type:none;text-align:center;padding:1ex;margin:1ex;float:left}

p.q{line-height:125%;width:60ex;font-size:larger;background:#fff5ee;padding:2px}
p.q:before{font-size:x-large;font-family:serif;content:"Q: "}
div.q{background:#fff5ee;border-left:solid thin silver;padding:2px;width:60ex;font-size:larger}
div.q > p:first-child:before{content:"Q: "}
div.a{line-height:125%;margin-left:5ex}
div.a > p:first-child:before{content:"A: "}

p.cpt{margin-top:0px;width:100%}
p.cpt:before{content:"☝"; font-family:Arial Unicode MS;font-size:x-large}
/* div.obj > object + p{margin-top:0px} embeded youtube*/

span.bktl{font-style:italic;color:#4d378b}
span.atlt{font-style:italic;color:#27408b}

span.ln{text-decoration:line-through}
span.w{font-weight:bold}
span.b{color:#0000ff}
span.r{color:#ff0000}

img.bdr{border:solid thin black}
pre.bdr, div.bdr{display:table;padding:1ex;border:solid thin gray;background-color:#fffafa}
pre.pfont{font-family:sans-serif}

div.blurb{color:#b22222;float:right;margin:1ex;width:40ex} /*prominent display of quotation, floats right.*/
p.lbk, div.lbk{background-color:#dcdcdc;float:right;width:25%;border:solid thin;margin:1ex;padding:1ex;font-size:110%}
div.fll{float:left;margin:1em;clear:left}
div.frr{float:right;margin:1em;clear:right}

span.cd{font-size:x-small} /*credit*/

a.lgimg:before{content:"Large";font-size:x-small}

/* source of image or other*/
a.sorc, a.sorcdd{font-size:small}
a.sorc:after{content:"↗";font-size:small}
a.sorcdd:link:active, a.sorcdd:link:hover, a.sorcdd:visited:hover, a.sorcdd:visited, a.sorcdd:link{color:black;cursor:text;text-decoration:line-through} /* dead url*/

a.gge{background-position:left center !important;background:url(http://www.google.com/earth/images/google_earth_link.gif) no-repeat left center;padding-left:25px}

a.amz{display:inline-block;background-position:left center !important}
a.amz{background:url(ics/amazon.gif) no-repeat left center;padding-left:17px;font-size:xx-small;color:#d2b48c}

a.gvidsr:before{content:"video search: ";font-size:small}
a.utb:before{content:"Youtube: ";font-size:small}

div.blgcmt > a{font-size:6ex;font-family:serif}
div.blgcmt > a:after{font-size:medium;font-family:sans-serif;content:"Post a Comment at Blogger"}

span.sml{font-size:smaller}
div.rss{text-align:center}
div.rss > a > img{border:none}
div#top{background-color:#b22222;padding:1ex;margin:1ex}
div#top > p{padding:0;margin:0;color:white}
div#right{position:absolute;left:70%;background-color:#faebd7;padding:1ex}
div#main{width:70ex}

a[href ^= "http://en.wikipedia.org/"]:after{content:"[w]";font-size:50%}
a[href ^= "http://zh.wikipedia.org/"]:after{content:"[w]";font-size:50%}
