/* XahLee.org  */
@import "lbasic.css";

/* span.xnt and div.x-note must come in pairs. xnt is annotation marker, x-note is a annotation block of text. */
span.xnt {color:#8b0000;font-weight:bold}
span.xnt:before {content:" ";font-size:x-small}
span.xnt:after {content:"†";font-size:x-small}
div.x-note {float:right;width:50%;background-color:#afeeee;margin-top:.2ex;margin-bottom:.2ex;margin-left:.2ex;padding:.5ex;clear:both;}

/* oafm and a-note must come in pairs.
oafm = original author footnote's marker.
a-note = footnotes text block by original author.
*/
span.oafm {color:#8b0000;background-color:#e0eee0}
span.oafm:after {content:"‡"}
div.a-note {line-height:120%;background-color:#e0eee0; margin-top:.2ex;margin-bottom:.5ex; padding:.5ex;width:60ex}
div.a-note > p {margin-top:.2ex;margin-bottom:.2ex; padding:.2ex;width:60ex}

/* poem */
div.pmm {display:table;background-color:#fff5ee;}
div.pmm p, div.pmm pre {width:100%;padding:1ex;font-family:serif}
pre.pmm {display:table;background-color:#fff5ee;padding:1ex;font-family:serif}

pre.lycif {border-left:solid thin silver;padding:1ex}
pre.lyc {width:60ex;background-color:#fff5ee;padding:1ex;font-family:serif}
table pre.lyc {width:100%;} /*for chinese-english trans side by side*/
